<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpu.hrms.mapper.PositionMapper">
	<!-- 查询语句 -->
	<select id="listPosition" resultType="com.xpu.hrms.entity.DbPosition">
		SELECT * from
		db_position;
	</select>
	<!-- 查询语句 -->
	<select id="selectPositionByPositionNameAndLevel"
		resultType="com.xpu.hrms.entity.DbPosition">
		SELECT * from
		db_position where position=#{positionName} and position_level=#{position_level};
	</select>
	<!-- 新增语句 -->
	<insert id="addPosition">
		insert into db_position values(
		#{id},
		#{position_level},
		#{position_salary},
		#{position}
		);
	</insert>

	<update id="updatePosition">
		update db_position
		set position=#{position},
		position_level=#{position_level},
		position_salary=#{position_salary}
		where id=#{id};
	</update>

	<delete id="deletePosition">
		delete from db_position where id=#{id};
	</delete>

</mapper>